/* colors e fonts */
:root {
  /* Brand */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  /* Feedback */
  --danger: #FF5959;

  /* Input */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* Fonsts */
  --leckerli-one: "Leckerli One", cursive;
  --baloo-2: "Baloo 2", sans-serif;
  --open-sans:  "Open Sans", sans-serif;

  /* Typografy */
  --logo: 400 40px var(--leckerli-one);

  --heading-md: 700 28px var(--baloo-2);
  --heading-sm: 700 18px var(--baloo-2);

  --body-md: 600 16px var(--open-sans);
  --body-sm: 600 14px var(--open-sans);
  --body-xs: 600 12px var(--open-sans);

}

/* css rest  */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* global */
body {
  overflow: hidden;

  background-color: var(--shape-background);
  font: var(--body-md);
}

/* define spaces */
#app {
  display: grid;
  grid-template-columns: 38% 62%;
  min-height: 100vh;
  overflow: hidden;
}

#fixed {
  display: flex;
  justify-content: flex-end;  

  height: 100vh;
  overflow: hidden;
  position: sticky;
}

.fixed-container {
  margin-right: auto;
}

#invite {
  display: flex;

  max-width: 820px;
  min-height: 100vh;
  overflow-y: auto;
}

.invite-container {
  margin-left: auto;
}

fieldset { 
  border: none;
}



