
.invite-container {
  background-color: var(--shape-body);

  border-radius: 12px;
  margin: 20px 10px;
  padding: 80px 130px;

  & h1 {
    font: var(--heading-md);
    color: var(--text-heading);

    margin-bottom: 40px;
  }

  & legend {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    img {
      width: 24px;
      aspect-ratio: 1/1;

      margin-right: 12px;
    }

    span {
      font: var(--heading-sm);
      color: var(--text-heading);
    }
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  label {
    font: var(--body-sm);
    color: var(--text-body);

    margin-bottom: 12px;

  }

  input {
    max-width: 100%;
    height: 48px;

    padding-inline: 16px;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;

    &::placeholder {
      font: var(--body-md);
      color: var(--input-placeholder);
    }
  }

  & input[type="date"] {
    font: var(--body-md);
    color: var(--input-placeholder);
  }
}

.inputs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "name name"
  "start end"
  "type local"
  "description description";

  gap: 16px;
}

.name-event {
  grid-area: name;
}

.date-start {
  grid-area: start;

}

.date-end {
  grid-area: end;
}

.type-event {
  grid-area: type;
}

.local-event {
  grid-area: local;
}

.description-event {
  grid-area: description;

  & textarea {
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    border-radius: 8px;

    font: var(--body-sm);
    color: var(--text-body);

    padding: 16px;

    width: 100%;
    height: 136px;

    margin-bottom: 48px;
  }
}

.radio-group {
  background-color: var(--input-base);

  display: flex;
  gap: 4px;
  padding: 4px;

  border: 1px solid var(--input-stroke);
  border-radius: 8px;

  height: 48px;

  & input[type="radio"] {
    display: none;
  }

  & label {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.03s ease;

    margin-bottom: 0;

    & img {
      width: 24px;
      height: 24px;
    }
  }

  & input:checked + label {
    border-radius: 5px;
    background-color: var(--shape-button);

  }

  & input[type="radio"]:checked + label .building-hover {
    content: url("/assets/icons/building-hover.svg");
  }

  & input[type="radio"]:checked + label .video-hover {
    content: url("/assets/icons/video-hover.svg");
  }

}

.colors-type {
  display: flex;
  flex-direction: row;

  gap: 16px; 

  & label {
    background-color: var(--shape-button);
    border-radius: 999px;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 28px;

    cursor: pointer;
  } 

  & input { 
    display: none;
  }

  & img { 
    width: 28px;
    height: 28px;
  }
}

.colors-type input[type="radio"]:checked + label {
  border: 2px solid var(--brand-light);
}

.theme-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 8px;
  
  & input {
    display: none;
  }

  & label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--shape-button);
    border-radius: 8px;
    border: 2px solid var(--input-stroke);

    padding: 4px 4px 8px 4px;
    margin-bottom: 0px;

    cursor: pointer;
  }

  & img { 
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}

.theme-grid-4 input[type="radio"]:checked + label {
  border: 2px solid var(--brand-light);
}